<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <form #f="ngForm" novalidate (ngSubmit)="presentConfirm()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" name="name" minlength="3" required [(ngModel)]="user.name" #nameCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
          <ion-text color="danger">
          	Please enter
            {{ 4 - (f.controls.name.errors.minlength ? f.controls.name.errors.minlength.actualLength : 0)  }} more
            characters
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" minlength="3" name="username" required [(ngModel)]="user.username" #usernameCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item *ngIf="!usernameCtrl.valid && usernameCtrl.touched">
          <ion-text color="danger">
          	Please enter
            {{ 4 - (f.controls.username.errors.minlength ? f.controls.username.errors.minlength.actualLength : 0)  }} more
            characters
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" minlength="6" name="password" required [(ngModel)]="user.password" #passwordCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
          <ion-text color="danger">
          	Please enter
            {{ 7 - (f.controls.password.errors.minlength ? f.controls.password.errors.minlength.actualLength : 0)  }} more
            characters
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="tel" name="phone" minlength="7" required [(ngModel)]="user.phone" #phoneCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item *ngIf="!phoneCtrl.valid && phoneCtrl.touched">
          <ion-text color="danger">
          	Please enter
            {{ 8 - (f.controls.phone.errors.minlength ? f.controls.phone.errors.minlength.actualLength : 0)  }} more
            digits
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Remark</ion-label>
          <ion-input type="text" required minlength="10" name="remark" [(ngModel)]="user.remark"
            #remarkCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item *ngIf="!remarkCtrl.valid && remarkCtrl.touched">
          <ion-text color="danger">
            Please enter
            {{ 10 - (f.controls.remark.errors.minlength ? f.controls.remark.errors.minlength.actualLength : 0)  }} more
            characters
          </ion-text>	
        </ion-item>

        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text" required minlength="10" name="address" [(ngModel)]="user.address"
            #addressCtrl="ngModel"></ion-input>
        </ion-item>

        <ion-item *ngIf="!addressCtrl.valid && addressCtrl.touched">
          <ion-text color="danger">
            Please enter
            {{ 10 - (f.controls.address.errors.minlength ? f.controls.address.errors.minlength.actualLength : 0)  }} more
            characters
          </ion-text>
        </ion-item>


        <!-- <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" required [(ngModel)]="user.email" #emailCtrl="ngModel" email></ion-input>
        </ion-item>

        <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
          <ion-text color="danger">Email is not valid</ion-text>
        </ion-item> -->


        <ion-item class="ion-float-right" lines="none">
          <ion-button type="submit" size="small" [disabled]="!f.valid">Submit</ion-button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>